/****************************************************************** body*****************************************************************************************************/
h1 {
  font-family: 'Sacramento', cursive;
  color: #00bbf0;
}

h2 {
  font-family: 'Bellota', cursive;
  color: #1e56a0;
}

h4 {
  font-family: 'Merienda One', cursive;
}

h5 {
  font-family: 'Bellota', cursive;
}

p {
  font-family: 'Poor Story', cursive;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 2;
}

h1, h2, h4 {
  font-size: 1.95rem;
}

/****************************************************************** body*****************************************************************************************************/
/****************************************************************** container-fluid-section ***********************************************************************************/
.container-fluid {
  padding: 3% 15% 7%;
  background-color: #dff6f0;
  text-align: center;
}

.mountain {
  width: 50%;
  margin-left: 10%;
  position: relative;
  z-index: 1;
}

.cloud-1 {
  width: 25%;
  margin-top: -30%;
  position: relative;
  z-index: 1;
}

.cloud-2 {
  width: 25%;
  margin: -50% 20% 0 -20%;
  position: relative;
  z-index: 1;
}

.sun {
  width: 25%;
  margin-top: -60%;
  position: relative;
  z-index: 0;
}

/***************************************************************************** *nav-bar-section *********************************************************************************/
.navbar {
  background-color: #dff6f0;
}

.nav-item {
  padding: 0 18px;
}

.nav-font {
  font-family: 'Poor Story', cursive;
  font-size: 1.5rem;
}

/***************************************************************************** *nav-bar-section *********************************************************************************/
/****************************************************************** container-fluid-section ***********************************************************************************/
/***************************************************************************** about-me(middle-section)***********************************************************/
#middle {
  padding: 7% 10%;
  background-color: #fff;
}

.middle-img {
  width: 15%;
  position: relative;
  float: right;
  margin-top: 3%;
  margin-right: -5%;
  transform: rotate(43deg);
}

.icon {
  margin: 1%;
}

.fa-html5 {
  color: #E34C26;
}

.fa-js-square {
  color: #f7df1e;
}

.fa-bootstrap {
  color: #511378;
}

.fa-css3-alt {
  color: #037ef3;
}

/***************************************************************************** about-me(middle-section)**************************************************************************/
/*********************************************************************************my-hobbies(middle-1)********************************************************************************************/
#middle-1 {
  background-color: #8fbaf3;
  padding: 7% 3%;
  text-align: center;
}

#hobbies {
  text-align: center;
}

.code {
  width: 25%;
}

/*********************************************************************************my-hobbies(middle-1)********************************************************************************************/
/*********************************************************************************education(middle-2)********************************************************************************************/
#middle-2 {
  padding: 7% 15%;
}

#txt {
  padding-top: 2%;
}

.edu-img1 {
  width: 10%;
  position: relative;
  float: left;
  margin-right: 7%;
}

.edu-img2 {
  width: 10%;
  position: relative;
  float: right;
  margin-left: 1%;
}

/*********************************************************************************education(middle-2)********************************************************************************************/
/*********************************************************************************merit-obtained(middle-3)********************************************************************************************/
#middle-3 {
  padding: 7% 3%;
  background-color: #ff6473;
  text-align: center;
}

.merit-img {
  border-radius: 7%;
  width: 40%;
}

.carousel-inner {
  padding: 2% 3%;
}

/*********************************************************************************merit-obtained(middle-3)********************************************************************************************/
/*********************************************************************************skill(middle-4)********************************************************************************************/
#middle-4 {
  padding: 7% 3%;
  background-color: #fff;
}

.skill-head {
  text-align: center;
}

.skill-img {
  margin:1%;
}

.left {
  margin-left: 2%;
  margin-bottom: 2%;
}

.right {
  margin-bottom: 2%;
  margin-right: 2%;

}

.skill-bar {
  margin: -3.65% 0 0 10%;
}

/*********************************************************************************skill(middle-4)********************************************************************************************/
/********************************************************************************contact(bottom)********************************************************************************************/
.bottom {
  background-color: #008891;
  padding: 4% 15%;
  text-align: center;
  color: #fff;
}

.contact-logo {
  width: 20%;
  margin-bottom: -50%;
  margin-left: -10%;
  float: left;
}

.contact-img {
  margin: 3%;
}

/********************************************************************************contact(bottom)********************************************************************************************/
